*{
    margin: 0;
    padding: 0;
}
body{
background-image: url("./otono/QUESO.webp");
background-repeat: no-repeat;
 min-height: 100vh; 
  height: auto; 
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
-webkit-text-size-adjust: 100%; /* Prevents text inflation */
  text-size-adjust: 100%;
  overflow: hidden; /* Prevents accidental scrollbars on TVs */
}


main{
height: 100vh;
width: 100%;

}
.container{
margin-top: 15vh;
display: grid;
grid-template-columns: repeat(3,1fr);
row-gap: 3vh;
justify-content: center;
align-items: center;
}
.product{
border-radius: 10px;
background-color: white;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 1rem;
height: 90%;
width: 90%;
padding: 1.5vh;
}
.containerGorroNavidad{
  width: 0px;
  height: 0px;
}
.gorroNavidad{
 position: relative;
  top: -70px;
  right: 50px;
  z-index: 1;
  width: 110px;
  height: 110px;
  transform: rotate(-70deg);
}
.containerOferta{
  width: 0px;
  height: 0px;
}
.oferta{
  position: relative;
  top: -80px;
  right: -280px;
  z-index: 1;
  width: 140px;
  height: 140px;
}
.descriptions{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 50%;

}
.name{
font-size: 4.5vh;
font-family:  Helvetica;
font-weight: bold;
color: rgb(0, 0, 0);

}
.cuantity_background{
background-color: #ffdf22;
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 10px;
padding: 0.5vh 1vh;
}
.CUANTITY{
font-size: 2.5vh;
font-family:  Helvetica;
font-weight: bold;
color: rgb(0, 0, 0);

}
.price{
font-size: 4.2vh;
font-family:  Helvetica;
font-weight: bold;
color: rgb(236, 36, 36);
}
.image{
border-radius:10px;
width: 50%;
height: 100%;
}
.image img{
width: 100%;
height: 100%;
border-radius: 10px;
}